body{
    background-color:blue;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
}
h1{
    color: red;
}
span{
    font-size: 100px;
    color: green;
}